<p id="notice"><%= notice %></p>

<h1>Users</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Elon_Musk_2015.jpg" height="100">
<table>
  <thead>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106149406-6"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-106149406-6');
      </script>


    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<script>
    ga('send', {
        hitType: 'transition to screen',
        eventCategory: 'Users',
        eventAction: 'index',
        eventLabel: 'blabla2222'
    });
    console.log("debug ololog2");
</script>
